*{
  margin:0;
}

.app {
  background-color: #fafafa;
  
  
  
}

.app__header{
  position: sticky;

  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  
  justify-content: space-between;
  
}

.app__headerImage{

  object-fit: contain;
}

.app__newPost{
  display: flex;
  width: 100%;
}
.app__newPostTooltip{

width: 100%;
display: flex;
justify-content: center;
}

.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;

}

.app__postsleft{
  margin-right: 15px;

}

.app__postsright{
  

/*width: 300px;*/

}

.app_Modal{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%)
}

.app__signup{
    display:flex;
    flex-direction: column;

}
